* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}

video {
  width: 170%;
  height: 101%;
  object-fit: fill;
}

button,
body,
#video-grid {
  -webkit-app-region: drag;
}
#container {
  width: 100vw;
  height: 100vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  border: 4px solid rgb(255, 249, 62);
  /* border: 4px solid rgba(31, 126, 12, 0.916); */

}
